---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
    {{ page.date | date_to_string }}    
</p>

<p>
    Aromas:
    {% assign aroma = site.aromas | where: 'nombre', page.aroma | first %}
    {% if aroma %}
        - <a href="{{ aroma.url }}">{{ aroma.nombre }}</a>
    {% endif %}
</p>

<p>
    Aromas:
    {% for aroma in site.aromas %}
        {% if page.aroma contains aroma.nombre %}
            <a href="{{ aroma.url }}">{{ aroma.nombre }}</a>
        {% endif %}
    {% endfor %}
</ul>

<p>
    Puntuación: {{ page.puntuacion }}    
</p>

{{ content }}

<br>
{% if page.product_amazon %}
    <p>Comprar en Amazon: <a href="{{ page.product_amazon }}">Ver precio</a></p>
{% endif %}
{% if page.product_ebay %}
    <p>Comprar en Ebay: <a href="{{ page.product_ebay }}">Ver precio</a></p>
{% endif %}
<br>
<p>Información sobre el aroma:</p>
{% for aroma in site.aromas %}
{% if page.aroma contains aroma.nombre %}
    <p>{{ aroma.excerpt }}</p>
{% endif %}
{% endfor %}